<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="public" value="https://api.nuget.org/v3/index.json" />
    <add key="gigi81" value="https://nuget.pkg.github.com/gigi81/index.json" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="public">
      <package pattern="*" />
    </packageSource>
    <packageSource key="gigi81">
      <package pattern="libgit2" />
    </packageSource>
  </packageSourceMapping>
</configuration>
